<button style="margin-top:20px;" class="btn btn-primary" ng-click="methods.export('sambas')">Exportar para excel</button>
<div class="container">
  <h2>Masculino</h2>
  <div class="row">
    <div class="col5">
      <h3>PP - {{sambaPPMasc.length}}</h3>
      <input ng-model="searchSambaPPMasc" placeholder="Pesquisar...">
      <table class="table table-bordered table-striped table-fixed">
        <thead>
          <tr>
            <th>Nome</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="!sambaPPMasc.length">
            <td><b>Nenhum resultado</b></td>
          </tr>
          <tr ng-repeat="nome in sambaPPMasc | orderBy | filter:searchSambaPPMasc track by $index">
            <td>{{nome}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col5">
      <h3>P - {{sambaPMasc.length}}</h3>
      <input ng-model="searchSambaPMasc" placeholder="Pesquisar...">
      <table class="table table-bordered table-striped table-fixed">
        <thead>
          <tr>
            <th>Nome</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="!sambaPMasc.length">
            <td><b>Nenhum resultado</b></td>
          </tr>
          <tr ng-repeat="nome in sambaPMasc | orderBy | filter:searchSambaPMasc track by $index">
            <td>{{nome}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col5">
      <h3>M - {{sambaMMasc.length}}</h3>
      <input ng-model="searchSambaMMasc" placeholder="Pesquisar...">
      <table class="table table-bordered table-striped table-fixed">
        <thead>
          <tr>
            <th>Nome</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="!sambaMMasc.length">
            <td><b>Nenhum resultado</b></td>
          </tr>
          <tr ng-repeat="nome in sambaMMasc | orderBy | filter:searchSambaMMasc track by $index">
            <td>{{nome}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col5">
      <h3>G - {{sambaGMasc.length}}</h3>
      <input ng-model="searchSambaGMasc" placeholder="Pesquisar...">
      <table class="table table-bordered table-striped table-fixed">
        <thead>
          <tr>
            <th>Nome</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="!sambaGMasc.length">
            <td><b>Nenhum resultado</b></td>
          </tr>
          <tr ng-repeat="nome in sambaGMasc | orderBy | filter:searchSambaGMasc track by $index">
            <td>{{nome}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col5">
      <h3>GG - {{sambaGGMasc.length}}</h3>
      <input ng-model="searchSambaGGMasc" placeholder="Pesquisar...">
      <table class="table table-bordered table-striped table-fixed">
        <thead>
          <tr>
            <th>Nome</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="!sambaGGMasc.length">
            <td><b>Nenhum resultado</b></td>
          </tr>
          <tr ng-repeat="nome in sambaGGMasc | orderBy | filter:searchSambaGGMasc track by $index">
            <td>{{nome}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <h2>Feminino</h2>
  <div class="row">
    <div class="col5">
      <h3>PP - {{sambaPPFem.length}}</h3>
      <input ng-model="searchSambaPPFem" placeholder="Pesquisar...">
      <table class="table table-bordered table-striped table-fixed">
        <thead>
          <tr>
            <th>Nome</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="!sambaPPFem.length">
            <td><b>Nenhum resultado</b></td>
          </tr>
          <tr ng-repeat="nome in sambaPPFem | orderBy | filter:searchSambaPPFem track by $index">
            <td>{{nome}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col5">
      <h3>P - {{sambaPFem.length}}</h3>
      <input ng-model="searchSambaPFem" placeholder="Pesquisar...">
      <table class="table table-bordered table-striped table-fixed">
        <thead>
          <tr>
            <th>Nome</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="!sambaPFem.length">
            <td><b>Nenhum resultado</b></td>
          </tr>
          <tr ng-repeat="nome in sambaPFem | orderBy | filter:searchSambaPFem track by $index">
            <td>{{nome}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col5">
      <h3>M - {{sambaMFem.length}}</h3>
      <input ng-model="searchSambaMFem" placeholder="Pesquisar...">
      <table class="table table-bordered table-striped table-fixed">
        <thead>
          <tr>
            <th>Nome</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="!sambaMFem.length">
            <td><b>Nenhum resultado</b></td>
          </tr>
          <tr ng-repeat="nome in sambaMFem | orderBy | filter:searchSambaMFem track by $index">
            <td>{{nome}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col5">
      <h3>G - {{sambaGFem.length}}</h3>
      <input ng-model="searchSambaGFem" placeholder="Pesquisar...">
      <table class="table table-bordered table-striped table-fixed">
        <thead>
          <tr>
            <th>Nome</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="!sambaGFem.length">
            <td><b>Nenhum resultado</b></td>
          </tr>
          <tr ng-repeat="nome in sambaGFem | orderBy | filter:searchSambaGFem track by $index">
            <td>{{nome}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col5">
      <h3>GG - {{sambaGGFem.length}}</h3>
      <input ng-model="searchSambaGGFem" placeholder="Pesquisar...">
      <table class="table table-bordered table-striped table-fixed">
        <thead>
          <tr>
            <th>Nome</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="!sambaGGFem.length">
            <td><b>Nenhum resultado</b></td>
          </tr>
          <tr ng-repeat="nome in sambaGGFem | orderBy | filter:searchSambaGGFem track by $index">
            <td>{{nome}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div ng-include="'app/main/excel/sambas.html'"></div>
